<div class="col-xs-12">
    <ul class="list-group">
        <li ng-repeat="item in groceryItems | orderBy: 'date'" class="list-group-item text-center clearfix">
           <span style="font-weight: bold"> {{ item.itemName | uppercase}} </span> 
        </li>
            <!-- <button type="button" class="btn btn-sm btn-success pull-left">
                <span class="glyphicon glyphicon-unchecked"></span>
            </button>
            <span style="font-weight:bold">Item 1</span>
            <button type="button" class="btn btn-sm btn-default pull-right">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </li>
        <li class="list-group-item text-center clearfix">
            <button type="button" class="btn btn-sm btn-success pull-left">
                <span class="glyphicon glyphicon-unchecked"></span>
             </button>
            <span style="font-weight:bold">Item 2</span>
            <button type="button" class="btn btn-sm btn-default pull-right">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </li>
        <li class="list-group-item text-center clearfix">
            <button type="button" class="btn btn-sm btn-success pull-left">
                <span class="glyphicon glyphicon-unchecked"></span>
            </button>
            <span style="font-weight:bold">Item 3</span>
            <button type="button" class="btn btn-sm btn-default pull-right">
                <span class="glyphicon glyphicon-pencil"></span>
            </button> -->
        <!-- </li> -->
    </ul>
</div>