<div class="col-xs-12">
    <div class="jumbotron text-center">
        <h1>Add Item Below</h1>
    </div>
        <form name="groceryForm">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Grocery Item">
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-success btn-lg btn-block">
                    <span class="glyphicon glyphicon-pushpin"></span>
                    Save
                </button>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-default btn-lg btn-block">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>

